*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

ul{
    display: inline; 
}

li{
    display: inline;
    padding: 0px 20px;
}

.topnav {
    background-color: rgb(52,58,64);
    align-content: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}


a {
    text-decoration: none;  
}

#navbar {
    color: white;
    font-size: 30px;
    
}

#home {
    color: white;
    font-size: 20px;
}

#link {
    color: rgb(153,156,157);
    font-size: 20px;
}

#dropdown {
    color: rgb(153,156,157);
    font-size: 20px;
    
}

#disable {
    color: rgb(153,156,157);
    font-size: 20px;
}


.search {
    display: flex;
    align-items: center;
    padding-left: 20px;
}


.text-area{
    border-radius: 8px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 150px;
    text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: gray;
    text-align: start;
    font-size: 20px;
    padding-left: 10px;
    
}



#bottone {
    background-color: rgb(52,58,64);
    color: green;
    border: green solid 2px;
    border-radius: 4px;
    font-size: 23px;
    padding: 11px;
    margin-right: 20px;
    
}

#bottone:hover {
    background-color: green;
    color: white;
  }